<div><h2>Dear <%= @user.username %></h2></div>

<div>
<p>We have reviewed the event that you submitted and we require you to make changes to your event. Specifically, we require you to edit the field mentioned in the bottom. </p>

<p> Field required: <%= @event.update_required_explanation %> </p>
</div>




All the best,
<br> 
Toronto Events
