    <% flash.each do |type, msg| %>
    <div><%= msg %></div>
  <% end %>
<img alt = 'Toronto skyline' class = 'image' src = 'https://smartcdn.prod.postmedia.digital/ocanada/wp-content/uploads/2019/06/toronto-skyline.jpg'>