<%= javascript_pack_tag 'update-form' %>

<h1> Events Pending Approval </h1>




<table style="width:100%" >

<thead>
<tr style = 'height:40px'>
    <th style="width:15%"> Event name </th>
    <th style="width:15%"> Start Time </th>
    <th style="width:15%"> End Time </th>
    <th style="width:15%"> Actions </th>
</tr>
</thead>

<tbody>
<% @events.each do |event| %>
    <tr style = 'height: auto'>
        <td> 
            <u> 
                <%= link_to "#{event.name}", event_path(id: event.id),  :class => 'item' %> 
            </u> 
        </td>
        <td>
            <%= "#{event.start_date} #{event.start_time.strftime("%I:%M %p")}" %>
        </td>

        <td>
            <%= "#{event.end_date} #{event.end_time.strftime("%I:%M %p")}" %>
        </td>
      
       
       

        
    

       
    </tr>
<% end %>
</table>