<link rel="stylesheet" type="text/css" href="http://ws1.postescanada-canadapost.ca/css/addresscomplete-2.30.min.css?key=xu36-fp78-xc63-gf59" /><script type="text/javascript" src="http://ws1.postescanada-canadapost.ca/js/addresscomplete-2.30.min.js?key=xu36-fp78-xc63-gf59"></script>
<h1 class="form_title"> Add a New Event </h1>

<% if @event.errors.any? %>
<ul>
<% @event.errors.full_messages.each do |m| %>
    <li> <%= m %> </li>
    <%end%>
    </ul>
<%end%>
<div class="events_form">
<%= render 'form' %>
</div>