// Place all the styles related to the About_us controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.image {
    height: 50vh;
    width: 100%;
    margin-bottom: 0px
}