.mainContainer {
    width: 1080px;
    margin: 100px;
}

html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

