// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
    margin: 0;
    padding: 0;
}


.span { 
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.update-div {
    display: none;
    background-color: white;
    position: absolute;
    width: 350px;
    height: 350px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 5%;
   
}

.Form {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  
}




