// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    margin: 0;
    padding: 0;
}
.div {
    min-height: 2000px;
}

body { width: 100%; z-index: 0;}

.span { 
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.update-form {
    display: none;
    position:absolute;
    background-color: white;
    width: 350px;
    height: 350px;
   
    z-index: 1;
}

.update_form { 
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.ul {border: 1px black solid;}
.background{ background-color: rgba(0,0,0,.7);}


